@import 'tailwindcss';
@import "tw-animate-css";

:root {
  --background: oklch(87.1% 0.15 154.449);
  --foreground: oklch(0.30 0.01 60);
  
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.30 0.01 60);
  
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.30 0.01 60);
  
  --primary: oklch(62.7% 0.194 149.214);
  --primary-foreground: oklch(1 0 0);
  
  --secondary: oklch(79.2% 0.209 151.711);
  --secondary-foreground: oklch(0.30 0.01 60);
  
  --muted: oklch(0.95 0.01 80);
  --muted-foreground: oklch(0.55 0.01 60);
  
  --accent: oklch(72.3% 0.219 149.579);
  --accent-foreground: oklch(1 0 0);
  
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  
  --border: oklch(0.90 0.01 80);
  --input: oklch(0.90 0.01 80);
  --ring: oklch(0.45 0.12 25);
  
  --radius: 0.5rem;
  
  --spacing: 0.3rem;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-background text-foreground;
    font-family: 'Open Sans', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}